<div class="introduction">
    <div class="container wrapper">
        <div class="paragraph-wrapper col-md-7">
            <h1>Chúng tôi làm gì? </h1>
            <p>Các bạn cần thực phẩm chất lượng tốt cho sức khỏe nhưng không có thời gian chuẩn bị
                và cần một chuyên gia giúp bạn lên kế hoạch cũng như hiện thực hóa bữa ăn cho bạn
                và giao hàng cho bạn mọi lúc mọi nơi
            </p>
            <p>Chúng tôi sẽ giúp bạn biến kế hoạch của bạn thành hiện thực với dịch vụ tư vấn, nấu
                và giao hàng theo yêu cầu. Các bạn chỉ cần lên kế hoạch cho tuần của mình và mọi việc
                còn lại hãy để goodfood lo.
            </p>
            <button class="btn btn-primary wrapper">read more</button>

        </div>

        <div class="image-wrapper col-md-5"></div>

    </div>

    <div class="container">
        
        <ul class="stepbar-wrapper col-md-12">
            <li>choose your plan<i class="fa fa-id-badge" aria-hidden="true"></i>
                <span class="step wrapper">goodfood lên kế hoạch menu tuần
                    trước cho bạn, bạn có thể chọn theo menu của chúng tôi, 
                    hoặc chọn riêng menu cho bạn
                </span>
            </li>
            <li>customize it
                <span class="step">bằng cách tách riêng các thành phần bữa ăn,
                    goodfood hỗ trợ bạn lên kế hoạch bữa ăn riêng theo ý muốn 
                    của bạn, theo tuần, hoặc theo tháng
                </span>
            </li>
            <li>order
                <span class="step">sau khi hoàn chỉnh kế hoạch bữa ăn cho mình,
                    bạn điền đầy đủ thông tin để chốt order, goodfood sẽ lên kế
                    hoạch nấu nướng để phù hợp theo yêu cầu bạn  
                </span>
            </li>
            <li>delivery plan
                <span class="step">bạn chọn các phương án giao hàng phù hợp với công việc,
                    thời gian của bạn để được phục vụ món ăn chất lượng tốt nhất
                </span>
            </li>
        </ul>
    </div>
</div>