<div class="container" ng-init="checkIfMenuEmpty()">
    <div class="wrapper promotion">
      <h1>this is promotion</h1>
      <h1>will be used later</h1>
    </div>


    <h1>thông tin cá nhân</h1>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Tên họ">
      <small id="helpId" class="text-muted">Help text</small>
      <input type="text" class="form-control" placeholder="Tên họ">
      <small id="helpId" class="text-muted">Help text</small>
      <input type="text" class="form-control" placeholder="Tên họ">
      <small id="helpId" class="text-muted">Help text</small>
      <input type="text" class="form-control" placeholder="Tên họ">
    </div>
</div>